*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CONTAINER */


/* ROW */
 
.container{
    display: flex;
    justify-content: center;
}

.header-row{
    display: flex;
    height: 100px;
    width: 50%;
}

.header-content{
    height: 50px;
    width: 100%;
    align-self: center;
}

.banner-row{
   display: flex;
   width: 50%;
   height: 400px;
}

.row{
  display: flex;
  width: 50%;
  height: 500px;
}

.content{
    height: 400px;
    width: 100%;
    align-self: center;
}

.banner-content{
    height: 300px;
    align-self: center;
}

/* LOGO LINK LOGIN */

.logo{
    text-align: center;
}


/* BORDI */

*{
    border: 1px dashed;
    border-color: red;
}

/* COLUMN */

.col-60{
  width: calc(60%);
}

.col-40{
    width: calc(40%);
}

.col-50{
    width: calc(50%);
}

.col-25{
    width: calc(25%);
}

.col-100{
   width: 100%;
}


/* COLORS */

.bg-lightgray{
    background-color: lightgrey;
}

.bg-blue{
    background-color: blue;
}

.bg-lightblue{
    background-color: lightblue;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.bg-pink{
    background-color: pink;
}

.bg-azzurro{
    background-color: rgb(0, 110, 255);
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}


